{% extends "mtb_app/layout.html" %}

{% block title %}
    Homepage
{% endblock %}


{% block body %}
<h1>Movies</h1>

{% for movie in movies %}

    <br>
    <a href="{% url 'bookmovie' movie.id %}"><div class="card" style="width: 31rem; padding:10px;">
        <div class="card-body">
            <p class=" float-right">IMBD: <i style="color: orange;" class="fa fa-star"></i>{{movie.rating}}/10</p>
            <h3>{{movie.name}}({{movie.cnr}})</h3>
            {{movie.description}}
            <p class="mb-2 text-muted">{{movie.cast}}</p>
        </div>
    </div></a>      

{% endfor %}

<nav style="margin-left: 65px;">
    <ul class="pagination">
      
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1" >&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" >&laquo; first</a></li>
            <li class="page-item disabled"><a class="page-link">previous</a></li>
        {% endif %}
        
        <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link">next</a></li>
            <li class="page-item disabled"><a class="page-link">last &raquo;</a></li>
        {% endif %}
    </ul>
  </nav>
{% endblock %}