{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Movie Ticket Booking{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'mtb_app/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <center><h1>Online Movie Ticket Booking</h1></center>
        <div>
            {% if not user.is_authenticated %}
                Login for booking.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'theaters' %}">Theaters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">Search</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bookings' %}">My Bookings</a>
                </li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out <i class="fa fa-sign-out"></i></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
